{% extends 'basec.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">MANZ Blog - A Blog Template Made For Developers</h2>
            <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
            <form class="signup-form form-inline justify-content-center pt-3">
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input class="form-control mr-md-1 semail" id="semail" name="semail1" placeholder="Enter email"
                           type="email">
                </div>
                <button class="btn btn-primary" type="submit">Subscribe</button>
            </form>
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
           {% for row in allnews %}
            <div class="item mb-5">
                <div class="media">
                    <img alt="image" class="mr-3 img-fluid post-thumb d-none d-md-flex"
                         src="{{ row.image_url }}">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="{% url 'blog_detail' row.id %}">{{ row.title }}</a></h3>
                        <div class="meta mb-1"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span
                                class="comment"><a href="#">8 comments</a></span></div>
                        <div class="intro">{{ row.snippet }}
                        </div>
                        <a class="more-link" href="{% url 'blog_detail' row.id %}">Read more &rarr;</a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
            {% endfor %}



            {% if allnews.has_other_pages %}
            <nav aria-label="...">
              <ul class="pagination">
                 {% if allnews.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ allnews.previous_page_number }}">Previous</a></li>
                  {% else %}
                  <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                  </li>
                  {% endif %}
                  {% for i in allnews.paginator.page_range %}
                  {% if allnews.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                </li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if allnews.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ allnews.next_page_number }}">Next</a>
                    </li>
                  {% else %}
                  <li class="page-item disabled">
                  <span class="page-link">Next</span>
                  </li>
                {% endif %}
              </ul>
            </nav>
             {% endif %}

        </div>
    </section>

    <footer class="footer text-center py-2 theme-bg-dark">
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by Mubi</a> for developers</small>

    </footer>

</div><!--//main-wrapper-->


{% endblock %}